{% extends "TisseoCoreBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/tisseopaon/css/main.css'
                   filter='cssrewrite' output='css/paon.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block head_config %}
    {{ parent() }}
    {% include 'TisseoPaonBundle::config.js.html.twig' %}
{% endblock %}

{% block title -%}
{{ parent() }}
- {{ 'paon_app_name'|trans({}, 'default') }}
    {% if pageTitle %}
    - {{ pageTitle|trans }}
    {% endif %}
{% endblock %}

{% block navbar_brand %}
    <a href="{% if externalNetworkId %}{{ path('tisseo_paon_homepage', {'externalNetworkId':externalNetworkId }) }}{% else %}{{ path('tisseo_paon_homepage') }}{% endif %}">PAON</a>
{% endblock %}

{% block root_breadcrumb %}
    <ol class="breadcrumb">
        {% if currentNetwork %}
            <li>
                <a href="{{ path('tisseo_paon_homepage', {'externalNetworkId':currentNetwork.externalId }) }}">
                    {{ currentNetwork.name }}
                </a>
            </li>
        {% endif %}
        {% block breadcrumb %}
            {% if pageTitle %}
                <li>{{ pageTitle|trans }}</li>
            {% endif %}
        {% endblock %}
    </ol>
{% endblock %}
