{% extends "TisseoTidBundle::base.html.twig" %}


{% block container %}
	{% if running == true %}
		{#Job "{{ running_job.name }}"(n°{{ running_job.number }}) lancé par "{{ running_job.user}}" en cours de traitement...<br>#}
		Job "{{ running_job.name }}" lancé par "{{ running_job.user}}" en cours de traitement...<br>
		lancement de nouveau traitement impossible...<br>
	{% endif %}
	<br>

	{% for job in jobs %}
		{% if running == true %}
			{% set bg_color = "gray" %}
			{% set style_color = "background-color:gray;color:white" %}	
			{% set link = "" %}
			<span class="btn btn-default" style={{style_color}} > {{ job.name }} </span>
			{% if "launcher" in job|keys %}
				<span style="margin-left: 10px">lancé par {{ job.launcher }}</span> 
			{% endif %}
		{% else %}
			{% set bg_color = job.color %}
			{% set style_color = "background-color:"~job.color~";color:white" %}
			{% set link =  path('tisseo_tid_data_exchange_edit', {'jobName': job.name})  %}
			<a class="btn btn-default" style={{style_color}} href={{link}}> {{ job.name }} </a>
		{% endif %}
		
		
		<br><br>	
	{% endfor %}
{% endblock %}
