{% extends "TisseoPaonBundle::generic_list.html.twig" %}

{% block subheader -%}
    {% if running %}
        <div class='alert alert-info alert-dismissable info'>
            <button type='button' class='close' data-dismiss='alert' aria-hidden='true'>&times;</button>
            {{'data_exchange.job_running'|trans({'%name%': running_job.name, '%user%': running_job.user}, 'default')}}
        </div>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-10">{{'data_exchange.list.columns.job'|trans({}, 'default')}}</th>
    <th class="col-sm-2">{{'global.actions'|trans({}, 'messages')}}</th>
{% endblock %}

{% block table_body -%}
    {% for job in jobs %}
    <tr>
        <td>
        {% if "launcher" in job|keys %}
            <span style="color:{{job.color}};">{{ job.name }} - {{ 'data_exchange.launched_by'|trans({'%user%': job.launcher}, 'default') }}</span>
        {% else %}
            <span style="color:{{job.color}};">{{ job.name }}</span>
        {% endif %}
        </td>
        <td>
            <a href="{{ path('tisseo_paon_data_exchange_launch', {'jobName': job.name}) }}" role="button" class="btn btn-default {% if running %} disabled {% endif %}">
                {{ 'data_exchange.launch_job'|trans({}, 'default') }}
            </a>
        </td>
    </tr>
    {% endfor %}
{% endblock %}
