<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
        <ul>
            <li>{{ 'tisseo.paon.schematic.mail.object'|trans({ '%line%': lineNumber }) }}</li>
            <li>{{ 'tisseo.paon.schematic.mail.date'|trans({ '%date%': "now"|date("d/m/Y") }) }}</li>
            <li>{{ 'tisseo.paon.schematic.mail.author'|trans({ '%user%': app.user.username }) }}</li>
        </ul>

        {{ form_row(form.to) }}
        {{ form_row(form.body) }}
        <input type="submit" class="btn btn-success pull-right" value="{{ 'tisseo.global.send'|trans }}" >
        {{ form_end(form) }}
    </div>
</div>
