{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

<div class="row">
    <div class="col-md-12">
        {{ form_start(form) }}
        {{ form_row(form.date) }}
        {{ form_row(form.comment) }}
        {% if form.file is defined %}
            {{ form_row(form.file) }}
        {% endif %}
        <input type="submit" class="btn btn-success clearfix pull-right" value="{{ 'tisseo.global.upload'|trans }}" >
        {{ form_end(form) }}
    </div>
</div>

<script>
    require(['smalot/bootstrap-datetimepicker', 'smalot/bootstrap-datetimepicker/{{ app.request.locale }}'], function() {
        $(document).ready(function() {
            $('.input-date').datetimepicker({
                language: '{{ app.request.locale }}',
                autoclose: true
            });
        });
    });
</script>
