{% extends "::modal.html.twig" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block modal_title %}
    {{ title|trans }} {{ render.line_number(line, 'line', 'small') }}
{% endblock %}

{% block modal_body %}
    <div id="thumb"></div>
    <div class="schema-content-list">
        <div class="row">
            <div class="col-md-12">
                {{ include ("TisseoPaonBundle:Schematic:partial_table_list_schema.html.twig", { 'schematics': line.schematics }) }}
            </div>
        </div>
        <div class="col-md-12">
            {% if is_granted('BUSINESS_MANAGE_ASK_SCHEMA') or is_granted('BUSINESS_MANAGE_DEPRECATE_SCHEMA') or is_granted('BUSINESS_MANAGE_DELETE_SCHEMA') %}
            <div class="row" style='margin-bottom:5px;'>
                {% if is_granted('BUSINESS_MANAGE_ASK_SCHEMA') %}
                    <a class="btn btn-default btn-sm action-button" href="#" data-url="{{ path('tisseo_paon_schematic_ask', {'lineId': line.id }) }}">
                        {{ 'tisseo.paon.schematic.action.ask_schematic'|trans }}
                    </a>
                {% endif %}
                {% if is_granted('BUSINESS_MANAGE_DEPRECATE_SCHEMA') %}
                    <a class="btn btn-default btn-sm action-button" href="#" data-url="{{ path('tisseo_paon_schematic_deprecate', {'lineId': line.id }) }}">
                        {{ 'tisseo.paon.schematic.action.deprecated'|trans }}
                    </a>
                {% endif %}
                {% if is_granted('BUSINESS_MANAGE_DELETE_SCHEMA') %}
                    <a class="btn btn-danger btn-sm action-button" href="#" data-url="{{ path('tisseo_paon_schematic_delete', {'lineId': line.id }) }}">
                        {{ 'tisseo.paon.schematic.action.delete'|trans }}
                    </a>
                {% endif %}
            </div>
            {% endif %}

            {% if is_granted('BUSINESS_MANAGE_NEW_SCHEMA') %}
            <div class="row">
                    <a class="btn btn-default btn-sm action-button" href="#" data-url="{{ path('tisseo_paon_schematic_edit', {'lineId': line.id }) }}">
                        {{ 'tisseo.paon.schematic.action.upload_file'|trans }}
                    </a>
                    <a class="btn btn-default btn-sm action-button" href="#" data-url="{{ path('tisseo_paon_schematic_edit', {'lineId': line.id, addInfo: true }) }}">
                        {{ 'tisseo.paon.schematic.action.add_info'|trans }}
                    </a>
            </div>
            {% endif %}
        </div>
    </div>
    <div class="target"></div>
{% endblock %}

{% block javascripts %}
    <script>
        require(['paon/edit/schematic']);
    </script>
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');
        });
    </script>
{% endblock %}
