<table class="table table-striped">
    <thead>
        <th>{{ 'tisseo.paon.schematic.label.name'|trans }}</th>
        <th>{{ 'tisseo.paon.schematic.label.file'|trans }}</th>
        <th>{{ 'tisseo.paon.schematic.label.date'|trans }}</th>
        <th>{{ 'tisseo.paon.schematic.label.comment'|trans }}</th>
        <th></th>
    </thead>
    <tbody>
    {% for schematic in schematics %}
        <tr {% if schematicId is not empty and schematicId == schematic.id %}class="success"{% endif %} data-schematic-id="{{ schematic.id }}">
            <td>{{ schematic.name }}</td>
            <td><input type="checkbox" disabled {% if schematic.file %}checked="checked"{% endif %}</td>
            <td>{{ schematic.date|date('d/m/Y') }}</td>
            <td>{{ schematic.comment }}</td>
            <td>
                {% if schematic.file %}
                <a
                    href="{{ asset(schematics_directory ~ '/' ~ schematic.file.Filename) }}"
                    target="_blank"
                    data-toggle="popover"
                    data-placement="bottom"
                    data-container="#thumb"
                    data-html="true"
                    data-trigger="hover"
                    data-content="<img class='thumb' src='{{ asset(schematics_directory ~ '/' ~ schematic.file.Filename) }}'>"
                >
                    <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                {% endif %}
            </td>
        </tr>
    {% else %}
        <tr class="info">
            <td colspan="5">
                {{ 'tisseo.global.no_items'|trans }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $('[data-toggle="popover"]').popover();
</script>
