{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoCoreBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{ title|trans }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}
    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.nbBus) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.comment) }}
        </div>
    </div>
    <div class="row">
        <div id="collection"
            class="col-md-12"
            data-prototype="
                {% filter escape %}
                    {{ include('TisseoPaonBundle:LineGroupGisContent:form.html.twig', {'form': form.LineGroupGisContents.vars.prototype }) }}
                {% endfilter %}"
        >
            <h4>{{ 'tisseo.paon.line_group_gis.label.associated_lines'|trans }}</h4>
            <div class="collection-target">
                {% for item in form.LineGroupGisContents %}
                    {{ include('TisseoPaonBundle:LineGroupGisContent:form.html.twig', {'form': item, 'number': loop.index }) }}
                {% endfor %}
            </div>
        </div>
    </div>
    {{ form_widget(form.add, {'label': '<span class="glyphicon glyphicon-plus"></span>', 'attr': {'class': 'btn btn-success btn-xs small-button add-item-collection-btn'}}) }}
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        require(['core/collection', 'paon/edit/lgis'], function(initCollection, initLgis) {
            initCollection(initLgis);
        });
    </script>
{% endblock %}
