{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoPaonBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{ 'line_group_gis.form.title'|trans({}, 'default') }}
{% endblock %}

{% block modal_body %}
    {% if error %}
        <div class="alert alert-danger alert-dismissable danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            {{ 'error.line_version.not_found'|trans({}, 'messages') }}
        </div>
    {% endif %}
    {{ form_errors(form) }}


    <div class="row">
        <div class="col-md-6">
            {{ form_row(form.name) }}
        </div>
        <div class="col-md-6">
            {{ form_row(form.nbBus) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ form_row(form.comment) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h3>{{'line_group_gis.form.associated_lines'|trans({}, 'default') }}</h3>
            <ul class="lines" data-prototype="{{ form_widget(form.LineGroupGisContents.vars.prototype)|e }}">
                {% for LineGroupGisContent in form.LineGroupGisContents %}
                    <li>
                        {{ form_row(LineGroupGisContent.line) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>

    {{ form_row(form._token) }}
    {{ form_end(form, {'render_rest': false}) }}
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        require(['jquery'], function($){
            var collectionHolder = $('ul.lines');
            var $addSubFormLink = $('<button type="submit" class="btn btn-success small-button"><span class="glyphicon glyphicon-plus"></span></button>');
            var $newLinkLi = $('<li></li>').append($addSubFormLink);

            var init = function() {
                collectionHolder.append($newLinkLi);
                collectionHolder.find('li').not(':last-child').each(function(){
                   addSubFormDeleteLink($(this));
                });

                $addSubFormLink.on('click', function (e) {
                    e.preventDefault();
                    addSubForm(collectionHolder, $newLinkLi);
                });

                // Remove data-target attribute
                $('.modal').find('button[type=submit]').removeData('target');
            };

            var addSubForm = function(collectionHolder, $newLinkLi) {
                var prototype = collectionHolder.attr('data-prototype');
                var newSubForm = prototype.replace(/__name__/g, collectionHolder.children().length);
                var $newSubFormLi = $('<li></li>').append(newSubForm);
                $newLinkLi.before($newSubFormLi);
                addSubFormDeleteLink($newSubFormLi);
            };

            function addSubFormDeleteLink($subFormLi) {
                var $removeSubForm = $('<button class="btn btn-xs btn-danger small-button remove-modification"><span class="glyphicon glyphicon-minus"></span></button>');
                $subFormLi.append($removeSubForm);

                $removeSubForm.on('click', function(e) {
                    e.preventDefault();
                    $subFormLi.remove();
                });
            }


            init();
        });
    </script>
{% endblock %}
