{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = "TisseoPaonBundle" %}

{% block list_title %}
    {{ parent() }}
    {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
        -
        <a href="{{ path('tisseo_paon_line_group_gis_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.paon.line_group_gis.action.create'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-md-2">{{ 'tisseo.paon.line_group_gis.label.name'|trans }}</th>
    <th class="col-md-7">{{ 'tisseo.paon.line_group_gis.label.lines'|trans }}</th>
    <th class="col-md-3 no-search no-sort">{{ 'tisseo.global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for group in groups %}
        <tr>
            <td>
                {{ group.name }}
            </td>
            <td>
                <table class="table table-condensed">
                    <thead>
                        <th>{{ 'tisseo.paon.line_group_gis.label.line_number'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_schematic'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_usable_schematic'|trans }}</th>
                    </thead>
                    <tbody>
                        {% for line in group.lineGroupGisContents %}
                            {% set lastSchematic = line.line.LastSchematic(true) %}
                            {% set lastValidSchematic = line.line.LastValidSchematic %}
                            <tr>
                                <td>{{ line.line.number }}</td>
                                <td>{% if lastSchematic %}{{ lastSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                                <td>{% if lastValidSchematic %}{{ lastValidSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% else %}
                            <tr><td colspan="3">{{ 'tisseo.global.no_items'|trans }}</td><tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_edit', {'lineGroupGisId': group.id }) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
                </a>
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_delete', {'lineGroupGisId': group.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.delete'|trans }}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
