{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = "TisseoPaonBundle" %}

{% block list_title %}
    {{ parent() }}
    {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
        -
        <a href="{{ path('tisseo_paon_line_group_gis_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'tisseo.paon.line_group_gis.action.create'|trans }}
        </a>
        <a
            href="{{ path('tisseo_core_export_csv', {service: 'tisseo_endiv.line_group_gis_manager'}) }}"
            class="btn btn-default"
        >
            <span class="glyphicon glyphicon-export"></span> {{ 'tisseo.paon.line_group_gis.action.export'|trans }}
        </a>
        <a
            href="{{ path('tisseo_core_export_csv', {service: 'tisseo_endiv.printing_line_group_gis_manager'}) }}"
            class="btn btn-default"
        >
            <span class="glyphicon glyphicon-export"></span> {{ 'tisseo.paon.line_group_gis.action.printing_export'|trans }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head_tr %}
    <tr>
        <th colspan="4">
            <div class="checkbox checkbox-head">
                <label> {{ 'tisseo.paon.line_group_gis.label.show_past_voussure'|trans }}
                    <input type="checkbox" class="checkbox deprecated-checkbox" />
                </label>
            </div>
        </th>
    </tr>
{% endblock %}

{% block table_head -%}
    <th class="col-md-2">{{ 'tisseo.paon.line_group_gis.label.name'|trans }}</th>
    <th class="col-md-1">{{ 'tisseo.paon.line_group_gis.label.printings'|trans }}</th>
    <th class="col-md-6">{{ 'tisseo.paon.line_group_gis.label.lines'|trans }}</th>
    <th class="col-md-3 no-search no-sort">{{ 'tisseo.global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for group in groups %}
        <tr>
            <td>{{ group.name }}</td>
            <td class="text-center">
                {{ group.totalPrintings }}
                <a
                    href="{{ path('tisseo_paon_line_group_gis_printing_create', {'lineGroupGisId': group.id}) }}"
                    class="btn btn-xs btn-success small-link pull-right"
                    data-toggle="modal"
                    data-target="#base-modal"
                    onclick="return $('.modal-dialog').removeClass('modal-dialog-large');"
                >
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
                <table class="table table-condensed">
                    <thead>
                        <th>{{ 'tisseo.paon.line_group_gis.label.line_number'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_schematic'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_usable_schematic'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_line_version_schematic'|trans }}</th>
                        <th>{{ 'tisseo.paon.line_group_gis.label.last_gis_schematic'|trans }}</th>
                    </thead>
                    <tbody>
                        {% for lineGroup in group.lineGroupGisContents %}
                            {% set lastSchematic = lineGroup.line.LastSchematic(true) %}
                            {% set firstValidSchematic = lineGroup.line.FirstValidSchematic %}
                            {% set lastLineVersionSchematic = lineGroup.line.LastLineVersion.schematic %}
                            {% set lastGisSchematic = lineGroup.line.LastGisSchematic %}
                            <tr{% if lastGisSchematic.date|date_modify('+2 month') < lastLineVersionSchematic.date %} class="customDanger"{% elseif lastGisSchematic.date > lastLineVersionSchematic.date %} class="customWarning"{% endif %}>
                                <td>
                                    {{ lineGroup.line.number }}
                                    {% set lineVersion = lineGroup.line.CurrentLineVersion %}
                                    {% if lineVersion is not none %}
                                        {% set property = lineVersion.PropertyValueByName(constant('Tisseo\\EndivBundle\\Entity\\Property::CERTIFIED')) %}
                                        {% if property is not none %}
                                            <img style="height:20px;width:20px;" src="{{ asset('bundles/tisseopaon/images/certified_line.png') }}"/>
                                        {% endif %}
                                    {% endif %}
                                </td>
                                <td>{% if lastSchematic %}{{ lastSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                                <td>{% if firstValidSchematic %}{{ firstValidSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                                <td>{% if lastLineVersionSchematic %}{{ lastLineVersionSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                                <td>{% if lastGisSchematic %}{{ lastGisSchematic.date|date('d/m/Y') }}{% else %}-{% endif %}</td>
                            </tr>
                        {% else %}
                            <tr><td colspan="3">{{ 'tisseo.global.no_items'|trans }}</td><tr>
                        {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_edit', {'lineGroupGisId': group.id }) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.edit'|trans }}
                </a>
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_delete', {'lineGroupGisId': group.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.global.delete'|trans }}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['paon/list/lgis'], function(list) {
            list.voussure_checkbox({{ deprecated ? 1:0 }});
        });
    </script>
{% endblock %}
