{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = "TisseoPaonBundle" %}

{% import "TisseoPaonBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{ 'line_group_gis.title'|trans({}, 'default') }}
    {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
        -
        <a href="{{ path('tisseo_paon_line_group_gis_new') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'line_group_gis.label.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-md-4">{{ 'line_group_gis.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-md-5">{{ 'line_group_gis.list.columns.line'|trans({}, 'default') }}</th>
    <th class="col-md-3 no-search no-sort">{{ 'global.actions'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for group in groups %}
        <tr>
            <td>
                {{ group.name }}
            </td>
            <td>
                <ul class="list-unstyled">
                {% for line in group.lineGroupGisContents %}
                    <li>{{ line.line.number }}</li>
                {% else %}
                <li>{{ 'global.no_items'|trans({}, 'messages') }}</li>
                {% endfor %}
                </ul>
            </td>
            <td>
                {% if is_granted('BUSINESS_MANAGE_GROUP_GIS') %}
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_edit', {'lineGroupGisId': group.id }) }}" data-toggle="modal" data-target="#base-modal">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.edit'|trans }}
                </a>
                <a class="btn btn-default" href="{{ path('tisseo_paon_line_group_gis_delete', {'lineGroupGisId': group.id }) }}">
                    <span class="glyphicon glyphicon-edit"></span> {{ 'global.delete'|trans }}
                </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}
