{% extends "::modal.html.twig" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block modal_title %}
    <div>
        <span>{{ title|trans({}, 'messages') }} - {{ render.line_number(lineVersion, 'lineVersion', 'small') }}</span>
    </div>
{% endblock %}

{% block modal_body %}
<div class="calendar-container">
    <div class="col-md-6">
        <div class="title">
            <h3>{{ 'calendar.grid_calendar_table'|trans({}, 'default') }}</h3>
        </div>
        <div class="table-responsive">
            <table id="grid-calendar" class="table table-hover">
                <thead>
                    <tr>
                        <th>{{ 'grid_calendar.list.columns.label'|trans({}, 'default') }}</th>
                        {% for i in 1..7 %}
                        <th>{{ ('global.short_days.'~i)|trans }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                {% for gridCalendar in gridCalendars %}
                <tbody class="grid-calendar">
                    <tr class="active">
                        <input type="hidden" class="grid-calendar-row" value="{{ gridCalendar[0].id }}"></input>
                        <td class="name">{{ gridCalendar[0].name }}</td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].monday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].tuesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].wednesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].thursday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].friday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].saturday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td class="day"><div class="calendar-day {% if gridCalendar[0].sunday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><button class="btn btn-xs btn-danger small-button delete-calendar"><span class="glyphicon glyphicon-minus"></span></button></td>
                    </tr>
                </tbody>
                    {% for gridMaskType in gridCalendar[1] %}
                <tbody class="grid-mask-type">
                    <tr class="warning">
                        <input type="hidden" class="grid-mask-type-row" value="{{ gridMaskType[0].id }}"></input>
                        <td><span>{{ gridMaskType[0].calendarPeriod }} {{ gridMaskType[0].calendarType }}</span></td>
                        <td colspan="7"></td>
                        <td></td>
                    </tr>
                    {% for tripCalendar in gridMaskType[1] %}
                    <tr>
                        <td><span class="trip-calendar">&bull; {{ tripCalendar[1] }} {{ 'calendar.labels.services'|trans({}, 'messages') }}</span></td>
                        <td><div class="calendar-day {% if tripCalendar[0].monday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].tuesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].wednesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].thursday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].friday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].saturday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].sunday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td></td>
                    </tr>
                    {% endfor %}
                </tbody>
                    {% endfor %}
                {% endfor %}
                <tbody>
                    <input type="hidden" id="line-version-id" value="{{ lineVersion.id }}"></input>
                    <tr id="new-grid-calendar">
                        {{ render(controller('TisseoPaonBundle:Calendar:renderForm', {'lineVersionId': lineVersion.id } )) }}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="title">
            <h3>{{ 'calendar.grid_mask_table'|trans({}, 'default') }}</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover grid-mask-type-table">
                <thead>
                    <tr>
                        <th>{{ 'grid_mask_type.list.columns.label'|trans({}, 'default') }}</th>
                        {% for i in 1..7 %}
                        <th>{{ ('global.short_days.'~i)|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for gridMaskType in gridMaskTypes %}
                <tbody class="grid-mask-type">
                    <input type="hidden" class="grid-mask-type-row" value="{{ gridMaskType[0].id }}"></input>
                    <tr class="warning">
                        <td>{{ gridMaskType[0].calendarPeriod }} {{ gridMaskType[0].calendarType }}</td>
                        <td colspan="7"></td>
                    </tr>
                    {% for tripCalendar in gridMaskType[1] %}
                    <tr>
                        <td><span class="trip-calendar">&bull; {{ tripCalendar[1] }} {{ 'calendar.labels.services'|trans({}, 'messages') }}</span></td>
                        <td><div class="calendar-day {% if tripCalendar[0].monday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].tuesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].wednesday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].thursday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].friday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].saturday %} green-day {% else %} red-day {% endif %}"></div></td>
                        <td><div class="calendar-day {% if tripCalendar[0].sunday %} green-day {% else %} red-day {% endif %}"></div></td>
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
            {% if gridMaskTypes is empty %}
            <span class="no-data">{{ 'calendar.labels.no_data'|trans({}, 'messages') }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block modal_close_footer %}
    <button id="submit-calendars" type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
    </button>
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');
        });
        require(['paon/create/calendar']);
        {# TODO: USE A JS FILE INSTEAD #}
        require(['jquery', 'jquery_ui_droppable', 'jquery_ui_draggable'], function($) {
            $.fn.liveDroppable = function() {
                $(this).droppable({
                    over: function(event, ui) {
                        $(this).find("tr:first").addClass("success");
                    },
                    out: function(event, ui) {
                        $(this).find("tr:first").removeClass("success");
                    },
                    drop: function(event, ui) {
                        if ($(ui.draggable).find("tr:first td").length == 2) {
                            $(ui.draggable).find("tr").append("<td></td>");
                        }
                        $(this).find("tr:first").removeClass("success");
                        $(this).after(ui.draggable);
                        if ($(".grid-mask-type-table").children().length == 2)
                        {
                            $(".grid-mask-type-table").after("<span style='display:none;' class='no-data'>{{ 'calendar.labels.no_data'|trans({}, 'messages') }}</span>");
                            $(".grid-mask-type-table").next().fadeIn();
                        }
                    }
                });
            };

            $(document).find(".grid-calendar").liveDroppable();

            $(document).find(".grid-mask-type-table").droppable({
                over: function(event, ui) {
                    $(this).find("thead tr:first").addClass("success");
                },
                out: function(event, ui) {
                    $(this).find("thead tr:first").removeClass("success");
                },
                drop: function(event, ui) {
                    if ($(ui.draggable).find("tr:first td").length == 3) {
                        $(ui.draggable).find("tr").find("td:last").remove();
                    }
                    if ($(this).next().hasClass("no-data"))
                    {
                        var noData = $(this).next();
                        var dropTarget = $(this).find("thead");
                        noData.fadeOut(300, function() {
                            noData.remove();
                            dropTarget.after(ui.draggable);
                        });
                    }
                    else
                        $(this).find("thead").after(ui.draggable);

                    $(this).find("thead tr:first").removeClass("success");
                }
            });

            $(document).find(".grid-mask-type").draggable({
                revert: 'invalid',
                helper: 'clone'
            });
        });
    </script>
{% endblock %}
