{% extends "::modal.html.twig" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block modal_title %}
    <div>
        <span>{{ title|trans }} - {{ render.line_number(lineVersion, 'lineVersion', 'small') }}</span>
    </div>
{% endblock %}

{% block modal_body %}
<div class="calendar-container">
    <div class="col-md-6">
        <div class="title">
            <h3>{{ 'tisseo.paon.calendar.header.grid_calendar'|trans }}</h3>
        </div>
        <div class="table-responsive">
            <table id="grid-calendar" class="table table-hover" data-line-version="{{ lineVersion.id }}">
                <thead>
                    <tr>
                        <th>{{ 'tisseo.paon.grid_calendar.header.label'|trans }}</th>
                        {% for i in 1..7 %}
                        <th>{{ ('tisseo.global.short_days.'~i)|trans }}</th>
                        {% endfor %}
                        <th></th>
                    </tr>
                </thead>
                {% for gridCalendar in gridCalendars %}
                <tbody class="grid-calendar">
                    <tr class="success">
                        <input type="hidden" class="grid-calendar-row" value="{{ gridCalendar[0].id }}"></input>
                        <td class="name">{{ gridCalendar[0].name }}</td>
                        {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                        <td><div class="calendar-day{% if attribute(gridCalendar[0], day) %} green-day {% else %} red-day {% endif %}"></div></td>
                        {% endfor %}
                        <td><button class="btn btn-xs btn-danger small-button delete-calendar"><span class="glyphicon glyphicon-minus"></span></button></td>
                    </tr>
                </tbody>
                    {% for gridMaskType in gridCalendar[1] %}
                    <tbody class="grid-mask-type">
                        <tr class="warning">
                            <input type="hidden" class="grid-mask-type-row" value="{{ gridMaskType[0].id }}"></input>
                            <td><span>{{ gridMaskType[0].calendarPeriod }} {{ gridMaskType[0].calendarType }}</span></td>
                            <td colspan="7"></td>
                            <td></td>
                        </tr>
                        {% for tripCalendar in gridMaskType[1] %}
                        <tr>
                            <td><span class="trip-calendar">&bull; {{ tripCalendar[1] }} {{ 'tisseo.paon.calendar.label.services'|trans }}</span></td>
                            {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                            <td><div class="calendar-day{% if attribute(tripCalendar[0], day) %} green-day {% else %} red-day {% endif %}"></div></td>
                            {% endfor %}
                            <td></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    {% endfor %}
                {% endfor %}
                <tbody>
                    <tr id="new-grid-calendar">
                        {{ render(controller('TisseoPaonBundle:Calendar:renderForm')) }}
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-6">
        <div class="title">
            <h3>{{ 'tisseo.paon.calendar.header.grid_mask_type'|trans }}</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-hover grid-mask-type-table">
                <thead>
                    <tr>
                        <th>{{ 'tisseo.paon.grid_mask_type.header.label'|trans }}</th>
                        {% for i in 1..7 %}
                        <th>{{ ('tisseo.global.short_days.'~i)|trans }}</th>
                        {% endfor %}
                    </tr>
                </thead>
                {% for gridMaskType in gridMaskTypes %}
                <tbody class="grid-mask-type">
                    <input type="hidden" class="grid-mask-type-row" value="{{ gridMaskType[0].id }}"></input>
                    <tr class="warning">
                        <td>{{ gridMaskType[0].calendarPeriod }} {{ gridMaskType[0].calendarType }}</td>
                        <td colspan="7"></td>
                    </tr>
                    {% for tripCalendar in gridMaskType[1] %}
                    <tr>
                        <td><span class="trip-calendar">&bull; {{ tripCalendar[1] }} {{ 'tisseo.paon.calendar.label.services'|trans }}</span></td>
                        {% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
                        <td><div class="calendar-day{% if attribute(tripCalendar[0], day) %} green-day {% else %} red-day {% endif %}"></div></td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
                {% endfor %}
            </table>
            {% if gridMaskTypes is empty %}
                <span class="no-data">{{ 'tisseo.paon.calendar.message.no_data'|trans }}</span>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block modal_close_footer %}
    <button id="submit-calendars" type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');
        });

        require(['jquery', 'jquery_ui_droppable', 'jquery_ui_draggable', 'paon/create/calendar'], function($) {
            $.fn.liveDroppable = function() {
                createDroppable(this);
            };

            $(document).find(".grid-calendar").liveDroppable();

            $(document).find(".grid-mask-type-table").droppable({
                over: function(event, ui) {
                    $(this).find("thead tr:first").addClass("success");
                },
                out: function(event, ui) {
                    $(this).find("thead tr:first").removeClass("success");
                },
                drop: function(event, ui) {
                    if ($(ui.draggable).find("tr:first td").length == 3) {
                        $(ui.draggable).find("tr").find("td:last").remove();
                    }
                    if ($(this).next().hasClass("no-data"))
                    {
                        var noData = $(this).next();
                        var dropTarget = $(this).find("thead");
                        noData.fadeOut(300, function() {
                            noData.remove();
                            dropTarget.after(ui.draggable);
                        });
                    }
                    else
                        $(this).find("thead").after(ui.draggable);

                    $(this).find("thead tr:first").removeClass("success");
                }
            });

            $(document).find(".grid-mask-type").draggable({
                revert: 'invalid',
                helper: 'clone'
            });
        });
    </script>
{% endblock %}
