{% extends "::modal.html.twig" %}

{% form_theme form 'TisseoPaonBundle:Form:fields.html.twig' %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_title %}
    {{ 'line_version.closure'|trans({}, 'default') }}
{% endblock %}

{% block modal_body %}
    {% if error %}
    <div class="alert alert-danger alert-dismissable danger">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        {{ 'error.line_version.not_found'|trans({}, 'messages') }}
    </div>
    {% endif %}
    {{ form_errors(form) }}
    {{ form_row(form.line) }}
    <div class="form form-edit">
        <div class="col-md-12">
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-6">
                        {{ form_row(form.version) }}
                    </div>
                    <div class="col-md-6">
                        <div class="input-range">{{ form_row(form.endDate) }}</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="row {% if new %}input-range{% endif %}">
                    <div class="col-md-6">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(form.plannedEndDate) }}
                    </div>
                </div>
            </li>
        </ul>
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{'global.save'|trans}}
    </button>
    {{ form_end(form) }}

    <script type="text/javascript">
        require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function() {
            $('.input-range input').datepicker({
                language: '{{ app.request.locale }}',
                startView: 1,
                autoclose: true
            });
        });
    </script>
{% endblock %}
