{% extends "::modal.html.twig" %}

{% if form %}
    {% form_theme form 'TisseoPaonBundle:Form:fields.html.twig' %}
{% endif %}

{% block open_form %}
    {% if form %}
        {{ form_start(form) }}
    {% endif %}
{% endblock %}

{% block modal_title %}
    {{ 'line_version.create'|trans({}, 'default') }}
{% endblock %}


{% block modal_body %}
    <label class="control-label required" for="paon_line_version_line">{{ 'line.labels.number'|trans({}, 'messages') }}</label>
    <select id="paon_line_version_line" class="form-control">
        {% if not form %}
            <option disabled="disabled" selected="selected"></option>
        {% endif %}
        {% for line in lines %}
            <option {% if lineVersion.line == line %}selected="selected"{% endif %}value="{{ line.id }}">{{ line.number }}</option>
        {% endfor %}
    </select>
    {% if form and lineVersion %}
        {% if error %}
            <div class="alert alert-danger alert-dismissable danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                {{ 'error.line_version_not_found'|trans }}
            </div>
        {% endif %}
        {{ form_errors(form) }}
        {{ form_row(form.line) }}
        <div class="form form-edit">
            <div class="col-md-12">
            <ul>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.version) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.childLine) }}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row input-range">
                        <div class="col-md-6">
                            {{ form_row(form.startDate, {'attr': {'class': 'start-date'}}) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.plannedEndDate) }}
                        </div>
                    </div>
                </li>
            </ul>
            </div>
        </div>
        <div class="form form-edit">
            <div class="col-md-12">
            <ul>
                <li>{{ form_row(form.name) }}</li>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.forwardDirection) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.backwardDirection) }}
                        </div>
                    </div>
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.fgColor) }}
                        </div>
                        <div class="col-md-6">
                            {{ form_row(form.bgColor) }}
                        </div>
                    </div>
                </li>
                <li>
                    {{ form_label(form.Property) }}
                    {% for property in form.Property %}
                        {% for lvProperty in lineVersion.lineVersionProperties %}
                            {% if lvProperty.property.id == property.vars.value %}
                                {% if lvProperty.value == false %}
                                    {{ form_row(property, {'checked': false}) }}
                                {% else %}
                                    {{ form_row(property) }}
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </li>
                <li>
                    <div class="row">
                        <div class="col-md-6">
                            {{ form_row(form.depot) }}
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label required" for="paon_line_version_button_schematic" style="width: 100%; height: 15px;"></label>
                                {{ form_widget(form.button_schematic,
                                    {'attr': { 'data-target': 'target' } })
                                }}
                                {{ form_widget(form.schematic) }}
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                   <div class="row target">
                       <div class="listSchematic"></div>
                   </div>
                </li>
                <li>{{ form_row(form.comment) }}</li>
            </ul>
            <ul>
                <li>
                    {{ form_row(form.ResolvedModifications) }}
                    {% if form.ResolvedModifications is empty %}
                        <span>{{ 'line_version.labels.no_modifications'|trans({}, 'messages') }}</span>
                    {% endif %}
                </li>
            </ul>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block modal_actions %}
    {% if form %}
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'global.save'|trans }}
        </button>
        {{ form_end(form) }}
        <script type="text/javascript">
            require(['paon/list/schemas']);
        </script>
        <script type="text/javascript">
            require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function() {
                $(document).ready(function() {
                    $('.input-range input').datepicker({
                        language: '{{ app.request.locale }}',
                        startView: 1,
                        autoclose: true
                    });
                    {% if minDate is defined %}
                        {% if minDate.timezone is defined %}    {# check if minDate is date #}
                            $('.start-date').datepicker('setStartDate', "{{ minDate | date('d/m/Y') }}");
                        {% endif %}
                    {% endif %}
                });
            });
        </script>
        <script type="text/javascript">
            require(['bootstrap/datepicker', 'bootstrap/datepicker/{{ app.request.locale }}'], function() {
                var $collectionHolder;
                var $addModificationLink = $('<button type="submit" class="btn btn-success small-button"><span class="glyphicon glyphicon-plus"></span></button>');
                var $newLinkLi = $('<li></li>').append($addModificationLink);

                $(document).ready(function() {
                    $collectionHolder = $('ul.modifications');
                    $collectionHolder.append($newLinkLi);
                    $collectionHolder.data('index', $collectionHolder.find(':input').length);

                    $addModificationLink.on('click', function(e) {
                        e.preventDefault();
                        var $newFormLi = addModificationLinkForm($collectionHolder, $newLinkLi);
                        $newFormLi.find('.input-range').datepicker({
                            language: '{{ app.request.locale }}',
                            startView: 1,
                            autoclose: true
                        });
                    });
                });

                function addModificationLinkForm($collectionHolder, $newLinkLi) {
                    var prototype = $collectionHolder.data('prototype');
                    var index = $collectionHolder.data('index');
                    var newForm = prototype.replace(/__name__/g, index);
                    $collectionHolder.data('index', index + 1);

                    var $newFormLi = $('<li></li>').append(newForm);
                    $newFormLi.append('<button class="btn btn-xs btn-danger small-button remove-modification"><span class="glyphicon glyphicon-minus"></span></button>');
                    $newLinkLi.before($newFormLi);
                    $('.remove-modification').click(function(e) {
                        e.preventDefault();
                        $(this).parent().remove();
                        return false;
                    });
                    return $newFormLi;
                }
            });
        </script>
    {% endif %}
    <script type="text/javascript">
        require(['paon/create/offer']);
    </script>
{% endblock %}
