{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoPaonBundle' %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}
{% import "TisseoPaonBundle::macros.html.twig" as paonRender %}

{% block table_head -%}
    <th class="col-md-4">{{ 'tisseo.paon.line.label.label'|trans }}</th>
    <th class="col-md-4">{{ 'tisseo.paon.line.label.physical_mode'|trans }}</th>
    <th class="col-md-4 no-sort no-search">{{ 'tisseo.paon.line_version.label.history'|trans }}</th>
{% endblock %}

{% block table_body -%}
    {% for line in lines %}
        <tr>
            <td>
                {{ render.line_number(line, 'line', 'free') }}
            </td>
            <td>
                {{ line.physicalMode.name }}
            </td>
            <td>
                {{ paonRender.line_offers_history(line) }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['paon/history/offer']);
    </script>
{% endblock %}
