{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = 'TisseoPaonBundle' %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block table_head %}
    <th class="col-md-4">{{ 'tisseo.paon.line.label.number'|trans }}</th>
    <th class="col-md-4">{{ 'tisseo.paon.line.label.physical_mode'|trans }}</th>
    <th class="col-md-4 no-sort no-search">{{ 'tisseo.paon.line_version.label.history'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for line in lines %}
        {% set lineVersions = line.HistoryLineVersions(now) %}
        {% dump(line.lineVersions|length) %}
        <tr>
            <td>
                {{ render.line_number(line, 'line', 'free') }}
            </td>
            <td>
                {{ line.physicalMode.name }}
            </td>
            <td>
                {% if lineVersions is not empty %}
                    <select style="max-width:60px;" id="paon_line_offers_{{ line.number }}" name="paon_line[offer]" class="select-offer form-control" data-toggle="modal" data-target="#base-modal">
                        <option disabled="disabled" selected="selected"></option>
                    {% for lineVersion in lineVersions %}
                        <option value="{{ lineVersion.id }}">{{ lineVersion.version }}</option>
                    {% endfor %}
                    </select>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['paon/history/offer']);
    </script>
{% endblock %}
