{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = 'TisseoPaonBundle' %}
{% set datatable = true %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block main_content -%}
    <h1>
        {{ 'line_version.list.title'|trans({}, 'default') }}
        {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
            -
            <a href="{{ path('tisseo_paon_line_version_create') }}" onclick="return $('.modal-dialog').removeClass('modal-dialog-large');" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
                <span class="glyphicon glyphicon-plus"></span> {{ 'line_version.create'|trans({}, 'default') }}
            </a>
        {% endif %}
    </h1>

    {% for physicalMode, lineVersions in data %}
        {% if lineVersions is not empty %}
            <a id="{{ loop.index }}" class="physical-mode"><span class="mode-icon mode-{{ physicalMode|lower }}"></span>{{ physicalMode }}</a>
            <table id="{{ loop.index }}" class="table datatable">
                <thead>
                    <th class="col-md-1">{{ 'line_version.list.columns.number'|trans({}, 'default') }}</th>
                    <th class="col-md-5">{{ 'line_version.list.columns.name'|trans({}, 'default') }}</th>
                    <th class="col-md-1 no-search">{{ 'line_version.list.columns.printings'|trans({}, 'default') }}</th>
                    <th class="col-md-1 no-search">{{ 'line_version.list.columns.version'|trans({}, 'default') }}</th>
                    <th class="col-md-1 no-search">{{ 'line_version.list.columns.start_date'|trans({}, 'default') }}</th>
                    <th class="col-md-1 no-search">{{ 'line_version.list.columns.status'|trans({}, 'default') }}</th>
                    <th class="col-md-2 no-search no-sort">{{ 'global.actions'|trans }}</th>
                </thead>
                <tbody>
                {% for lineVersion in lineVersions %}
                    <tr>
                        <td>
                            {{ render.line_number(lineVersion, 'lineVersion', 'free') }}
                        </td>
                        <td>
                            <span>{{ lineVersion.name }}</span>
                        </td>
                        <td>
                            {{ lineVersion.totalPrintings }}
                            <a style="float:right;" class="btn btn-xs btn-success small-link" href="{{ path('tisseo_paon_printing_create', {'lineVersionId': lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                        <td>
                            {{ lineVersion.version }}
                        </td>
                        <td>
                            {{ render.line_version_startDate(lineVersion) }}
                        </td>
                        <td>
                            {{ render.line_version_status(lineVersion) }}
                        </td>
                        <td>
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{'line_version.actions.offer'|trans({}, 'messages')}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="btn" role="button" href="{{ path('tisseo_paon_line_version_show', {'lineVersionId': lineVersion.id}) }}" onclick="return $('.modal-dialog').removeClass('modal-dialog-large');" data-toggle="modal" data-target="#base-modal">
                                            {{'line_version.actions.show'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                    {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
                                        <li>
                                            <a class="btn" role="button" href="{{ path('tisseo_paon_line_version_edit', {'lineVersionId': lineVersion.id}) }}" onclick="return $('.modal-dialog').removeClass('modal-dialog-large');" data-toggle="modal" data-target="#base-modal">
                                                {{ 'global.edit'|trans }}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn" role"button" href="{{ path('tisseo_paon_line_version_close', {'lineVersionId': lineVersion.id}) }}" onclick="return $('.modal-dialog').removeClass('modal-dialog-large');" data-toggle="modal" data-target="#base-modal">
                                                {{'line_version.actions.close'|trans({}, 'messages')}}
                                            </a>
                                        </li>
                                        <li>
                                            <a class="btn clean-offer" role="button" href="{{ path('tisseo_paon_line_version_clean', {'lineVersionId': lineVersion.id}) }}">
                                                {{'line_version.actions.clean'|trans({}, 'messages')}}
                                            </a>
                                        </li>
                                        {% if lineVersion.startDate|date('Ymd') > "now"|date('Ymd') %}
                                            <li>
                                                <a class="btn delete-offer" role="button" href="{{ path('tisseo_paon_line_version_delete', {'lineVersionId': lineVersion.id}) }}">
                                                    {{'line_version.actions.delete'|trans({}, 'messages')}}
                                                </a>
                                            </li>
                                        {% endif %}
                                    {% endif %}
                                </ul>
                            </div>
                            {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
                            <div class="btn-group">
                                <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{'line_version.actions.publication'|trans({}, 'messages')}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="btn" role="button" href="{{ path('tisseo_paon_calendar_edit', {'lineVersionId': lineVersion.id}) }}" onclick="return $('.modal-dialog').addClass('modal-dialog-large');" data-toggle="modal" data-target="#base-modal">
                                            {{'line_version.actions.calendar'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                    <li>
                                    <a class="btn" role="button" href="{{ path('tisseo_paon_exception_edit', {'lineVersionId': lineVersion.id}) }}">
                                            {{'line_version.actions.exception'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['core/datatables'], function() {
            datatable(false);
        });
    </script>
    <script>
        require(['jquery'], function() {
            $(document).on("click", ".physical-mode", function() {
                var id = $(this).attr('id');
                var datatable =  $('#'+id+".datatable");
                datatable.toggle();
                datatable.parent().toggle();
            });
            $(document).on("click", ".clean-offer", function(event) {
                var link = this;
                event.preventDefault();
                if (confirm("{{ 'line_version.actions.clean_confirm'|trans({}, 'messages') }}")) {
                    window.location.href = $(this).attr("href");
                }
            });
            $(document).on("click", ".delete-offer", function(event) {
                var link = this;
                event.preventDefault();
                if (confirm("{{ 'line_version.actions.delete_confirm'|trans({}, 'messages')|e('js') }}")) {
                    window.location.href = $(this).attr("href");
                }
            });
        });
    </script>
{% endblock %}
