{% extends "TisseoDatawarehouseBundle::datatable_list.html.twig" %}

{% import "TisseoDatawarehouseBundle::macros.html.twig" as render %}

{% block modal_dialog_classes %}
    modal-dialog-small
{% endblock %}

{% block list_title -%}
    {{ 'line_version.list.title'|trans({}, 'default') }}
    {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
        -
        <a href="{{ path('tisseo_datawarehouse_line_version_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{ 'line_version.create'|trans({}, 'default') }}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="col-sm-1 nat-sort">{{ 'line_version.list.columns.number'|trans({}, 'default') }}</th>
    <th class="col-sm-5">{{ 'line_version.list.columns.name'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'line_version.list.columns.printings'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'line_version.list.columns.physical_mode'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'line_version.list.columns.version'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'line_version.list.columns.start_date'|trans({}, 'default') }}</th>
    <th class="col-sm-1">{{ 'line_version.list.columns.status'|trans({}, 'default') }}</th>
    {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
        <th class="col-sm-1 no-sort">{{ 'global.actions'|trans({}, 'messages') }}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
    {% if lineVersions|length == 0 %}
        <tr>
            <td colspan="4">
                {{ 'global.no_items'|trans }}
            </td>
        </tr>
    {% else %}
        {% for lineVersion in lineVersions %}
            <tr>
                <td>
                    {{ render.line_number(lineVersion, 'lineVersion', 'small') }}
                </td>
                <td>
                    <span>{{ lineVersion.name }}</span>
                </td>
                <td>
                    {{ lineVersion.totalPrintings }}
                    <a style="float:right;" class="btn btn-xs btn-success small-link" href="{{ path('tisseo_datawarehouse_printing_create', {'lineVersionId': lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal">
                        <span class="glyphicon glyphicon-plus"></span>
                    </a>
                </td>
                <td>
                    {{ lineVersion.line.physicalMode.name }}
                </td>
                <td>
                    {{ lineVersion.version }}
                </td>
                <td>
                    {{ render.line_version_startDate(lineVersion) }}
                </td>
                <td>
                    {{ render.line_version_status(lineVersion) }}
                </td>
                <td>
                    {% if is_granted('BUSINESS_MANAGE_LINE_VERSION') %}
                        <div class="btn-group">
                            <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">{{'global.actions'|trans({}, 'messages')}} <span class="caret"></span></button>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="line-version-edit {% if lineVersion.isLocked %}line-version-locked{% endif %}" href="{{ path('tisseo_datawarehouse_line_version_edit', {'lineVersionId': lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal">
                                            {{'global.edit'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="line-version-edit" href="{{ path('tisseo_datawarehouse_line_version_close', {'lineVersionId': lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal">
                                            {{'global.closure'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                    <li>
                                        <a href="{{ path('tisseo_datawarehouse_line_version_consult', {'lineVersionId': lineVersion.id}) }}" data-toggle="modal" data-target="#base-modal">
                                            {{'global.consult'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="line-version-edit" href="{{ path('tisseo_datawarehouse_line_version_purge', {'lineVersionId': lineVersion.id}) }}">
                                            {{'global.purge'|trans({}, 'messages')}}
                                        </a>
                                    </li>
                                </ul>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
