{% extends "::modal.html.twig" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block modal_dialog_classes %}
    modal-dialog-small
{% endblock %}

{% block modal_title %}
    {{ title|trans }}
{% endblock %}

{% block modal_body %}
    <div id="thumb"></div>
    <h3>{{ 'tisseo.paon.line_version.header.summary'|trans }}</h3>
    <div class="form form-show">
        <div class="left-summary">
            <ul>
                <li>{{ 'tisseo.paon.line_version.label.version'|trans }} {{ lineVersion.version }}</li>
                <li>{{ 'tisseo.paon.line_version.label.start_date'|trans }} : {{ lineVersion.startDate|date('d/m/Y') }}</li>
                <li>{{ 'tisseo.paon.line_version.label.planned_end_date'|trans }} : {{ lineVersion.plannedEndDate|date('d/m/Y') }}</li>
                {% if history  or lineVersion.endDate %}
                <li class="bold">{{ 'tisseo.paon.line_version.label.end_date'|trans }} : {{ lineVersion.endDate|date('d/m/Y') }}</li>
                {% endif %}
                <li class="child-line">
                {% if lineVersion.IsParent %}
                    {{ 'tisseo.paon.line_version.label.child_line'|trans }} :
                    {% for childLine in lineVersion.ChildLines %}
                        {{ render.line_number(childLine, 'lineVersion', 'small') }}
                    {% endfor %}
                {% else %}
                    {{ 'tisseo.paon.line_version.message.no_child_line'|trans }}
                {% endif %}
                </li>
            </ul>
        </div>
        <div class="right-summary">
            {{ render.line_number(lineVersion, 'lineVersion', 'big') }}
        </div>
    </div>
    <h3>{{ 'tisseo.paon.line_version.header.properties'|trans }}</h3>
    <div class="form form-show">
        <ul style="padding-left:20px;">
            <li>{{ 'tisseo.paon.line_version.label.name'|trans }} : {{ lineVersion.name }}</li>
            <li>{{ 'tisseo.paon.line_version.label.forward'|trans }} : {{ lineVersion.forwardDirection }}</li>
            <li>{{ 'tisseo.paon.line_version.label.backward'|trans }} : {{ lineVersion.backwardDirection }}</li>
            <br>
            <li>{{ 'tisseo.paon.line_version.label.fg_color'|trans }} : {{ lineVersion.fgColor.name }}</li>
            <li>{{ 'tisseo.paon.line_version.label.bg_color'|trans }} : {{ lineVersion.bgColor.name }}</li>
            {% if lineVersion.lineVersionProperties is not empty %}
            <br>
            {% for lineVersionProperty in lineVersion.lineVersionProperties %}
            <li>{{ lineVersionProperty.property.name }} : <input type="checkbox" onclick="return false;" {% if lineVersionProperty.value %}checked{% endif %}></li>
            {% endfor %}
            {% endif %}
            <br>
            <li>{{ 'tisseo.paon.line_version.label.depot'|trans }} : {{ lineVersion.depot|capitalize }}</li>
            <li>
                {% if lineVersion.schematic %}
                    {{ 'tisseo.paon.line_version.label.schematic'|trans({'%date%': lineVersion.schematic.date|date('d/m/Y')}) }}
                    <a href="{{ app.request.getbaseUrl() }}/{{ lineVersion.schematic.WebPath }}" target="_blank" data-toggle="popover" data-placement="bottom" data-container="#thumb" data-html="true" data-trigger="hover" data-content="<img src='/{{ lineVersion.schematic.WebPath }}' height='250px' width='600px' style='padding:10px;'>"><span class="glyphicon glyphicon-eye-open"></span></a>
                {% else %}
                    {{ 'tisseo.paon.line_version.label.no_schematic'|trans }}
                {% endif %}
            </li>
            <li>{{ 'tisseo.paon.line_version.label.comment'|trans }} : {{ lineVersion.comment }}</li>
        </ul>
    </div>
    <h3>{{ 'tisseo.paon.line_version.header.printings'|trans }}</h3>
    <div class="form form-show">
        {% for printing in lineVersion.printings %}
            <ul>
                <li>{{ 'tisseo.paon.printing.label.quantity'|trans }} : {{ printing.quantity }}</li>
                <li>{{ 'tisseo.paon.printing.label.date'|trans }} : {{ printing.date|date('d/m/Y') }}</li>
                {% if printing.comment %}
                <li>{{ 'tisseo.paon.printing.label.comment'|trans }} : {{ printing.comment }}</li>
                {% endif %}
            </ul>
        {% else %}
            <span class="message">{{ 'tisseo.global.no_items'|trans }}</span>
        {% endfor %}
    </div>
    <h3>{{ 'tisseo.paon.line_version.header.modifications'|trans }}</h3>
    <div class="form form-show">
        {% for modification in lineVersion.modifications %}
            <ul>
                <li>
                    <div class="row">
                        <div class="col-md-4">
                            {{ 'tisseo.paon.modification.label.date'|trans }} : {{ modification.date|date('d/m/Y') }}
                        </div>
                        <div class="col-md-4">
                            {{ 'tisseo.paon.modification.label.author'|trans }} : {{ modification.author }}
                        </div>
                        <div class="col-md-4">
                            {% if modification.resolvedIn %}
                            {{ 'tisseo.paon.modification.label.resolved_in'|trans }} : {{ modification.resolvedIn.version }}
                            {% else %}
                            {{ 'tisseo.paon.modification.label.not_resolved'|trans({},'messages') }}
                            {% endif %}
                        </div>
                    </div>
                </li>
                <li>{{ 'tisseo.paon.modification.label.description'|trans }} : {{ modification.description }}</li>
            </ul>
        {% else %}
            <span class="message">{{ 'tisseo.global.no_items'|trans }}</span>
        {% endfor %}
    </div>
{% endblock %}

{% block modal_close_footer %}
    <script>
        require(['core/textfill'], function(){
            textfill(15, 30, '.line-big');
        });
    </script>
    <script>
        $('[data-toggle="popover"]').popover();
    </script>
{% endblock %}
