{% form_theme form 'TisseoDatawarehouseBundle:Form:gridCalendarFields.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}
<td>{{ form_row(form.name) }}</td>
<td>{{ form_row(form.color) }}</td>
<td>{{ form_widget(form.monday) }}</td>
<td>{{ form_widget(form.tuesday) }}</td>
<td>{{ form_widget(form.wednesday) }}</td>
<td>{{ form_widget(form.thursday) }}</td>
<td>{{ form_widget(form.friday) }}</td>
<td>{{ form_widget(form.saturday) }}</td>
<td>{{ form_widget(form.sunday) }}</td>
<td>
    <button id="apply-grid-calendar-form" type="submit" class="btn btn-success small-button">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</td>
{{ form_end(form) }}
