{% form_theme form 'TisseoPaonBundle:Form:gridCalendarFields.html.twig' %}

{{ form_start(form) }}
{{ form_errors(form) }}
<td>{{ form_widget(form.name) }}</td>
{% for day in ["monday", "tuesday", "wednesday", "thursday", "friday", "saturday", "sunday"] %}
    <td>{{ form_widget(attribute(form, day)) }}</td>
{% endfor %}
<td>
    <button id="apply-grid-calendar-form" type="submit" class="btn btn-success small-button">
        <span class="glyphicon glyphicon-plus"></span>
    </button>
</td>
{{ form_end(form) }}
