{% extends "TisseoDatawarehouseBundle::datatable_list.html.twig" %}

{% import "TisseoDatawarehouseBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{'line.list.title'|trans({}, 'default')}}
    {% if is_granted('BUSINESS_MANAGE_LINE') %}
        -
        <a href="{{ path('tisseo_datawarehouse_line_edit') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span> {{'line.create'|trans({}, 'default')}}
        </a>
    {% endif %}
{% endblock %}

{% block table_head -%}
    <th class="nat-sort">{{'line.list.columns.label'|trans({}, 'default')}}</th>
    <th>{{'line.list.columns.physical_mode'|trans({}, 'default')}}</th>
    {% if is_granted('BUSINESS_MANAGE_LINE') %}
        <th class="no-sort">{{'global.actions'|trans({}, 'messages')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
    {% if lines|length == 0 %}
        <tr>
            <td colspan="3">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for line in lines %}
            <tr>
                <td>
                    {{ render.line_number(line, 'line', 'small') }}
                </td>
                <td>
                    {{ line.physicalMode.name }}
                </td>
                <td>
                    {% if is_granted('BUSINESS_MANAGE_LINE') %}                        
                        <a class="btn btn-default" href="{{ path('tisseo_datawarehouse_line_edit', {'lineId': line.id}) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-edit"></span> {{'global.edit'|trans({}, 'messages')}}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
