{% extends "::modal.html.twig" %}
{% import "TisseoCoreBundle::macros.html.twig" as render %}
{% set title = (suspend ? 'tisseo.paon.line_status.title.suspend' : 'tisseo.paon.line_status.title.validate') %}

{% block modal_title %}
    {{ title|trans }} - {{ render.line_number(line, 'line', 'free') }}
{% endblock %}

{% block open_form %}
    {{ form_start(form) }}
{% endblock %}

{% block modal_body %}
    {{ form_errors(form) }}

    <div class="form form-edit">
        <div class="col-md-12">
            {{ form_row(form.comment) }}
        </div>
    </div>
{% endblock %}

{% block modal_actions %}
    <button type="submit" class="btn btn-success">
        <span class="glyphicon glyphicon-pencil"></span> {{ 'tisseo.global.save'|trans }}
    </button>
    {{ form_end(form) }}
{% endblock %}
