{% extends "TisseoCoreBundle::datatable_list.html.twig" %}
{% set bundle = "TisseoPaonBundle" %}
{% set navTitle = "tisseo.paon.menu.line_validation" %}
{% set pageTitle = "tisseo.paon.line.title.list" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block list_title %}
    {{ parent() }}
{% endblock %}

{% block table_head %}
    <th class="col-md-3">{{ 'tisseo.paon.line.label.number'|trans }}</th>
    <th class="col-md-3">{{ 'tisseo.paon.line_version.label.depot'|trans }}</th>
    <th class="col-md-3">{{ 'tisseo.paon.line_status.label.status'|trans }}</th>
    <th class="col-md-3 no-search no-sort">{{ 'tisseo.global.actions'|trans }}</th>
{% endblock %}

{% block table_body %}
    {% for line in lines %}
        {% set lastLineVersion = line.currentOrFutureLineVersion %}
        {% if lastLineVersion is not null %}
            <tr>
                <td>
                    {{ render.line_number(line, 'line', 'free') }}
                </td>
                <td>
                    {{ lastLineVersion.depot.longName }}
                </td>
                <td>
                    {% if line.currentStatus is not null %}{{ ('tisseo.paon.line_status.status.' ~ line.currentStatus.status)|trans }}{% endif %}
                </td>
                <td>
                    {% if is_granted('BUSINESS_VALIDATE_LINES_EXPLOITATION') %}
                        <a class="btn btn-default" href="{{ path('tisseo_paon_line_validate_suspend', {'lineId': line.id}) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.paon.line_status.action.validate'|trans }}
                        </a>
                        <a class="btn btn-default" href="{{ path('tisseo_paon_line_validate_suspend', {'lineId': line.id, 'suspend': 1}) }}" data-toggle="modal" data-target="#base-modal">
                            <span class="glyphicon glyphicon-edit"></span> {{ 'tisseo.paon.line_status.action.suspend'|trans }}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endif %}
    {% endfor %}
{% endblock %}
