{% extends "TisseoPaonBundle::container.html.twig" %}

{% import "TisseoPaonBundle::macros.html.twig" as render %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets 'bundles/tisseopaon/css/jquery.dataTables.min.css'
                   filter='cssrewrite' output='css/datatables_paon.css' %}
        <link rel="stylesheet" href="{{ asset_url }}?{{ assets_version }}" />
    {% endstylesheets %}
{% endblock %}

{% block breadcrumb %}
    <a href="{{ path('tisseo_paon_line_version_list') }}" role="button" class="btn btn-default"><span class="glyphicon glyphicon-chevron-left"></span> {{ 'global.previous'|trans({}, 'messages') }}</a>
{% endblock %}

{% block main_content -%}
    {% if data is empty %}
    <div class='alert alert-info alert-dismissable'>{{ 'exception.no_data'|trans({}, 'default') }}</div>
    {% else %}
    <div class="head-info col-md-12">               
        <div class="head-menu">
            <div class="title-choice">{{ 'exception.choice'|trans({}, 'default') }}</div>
            <div class="choice">
                <select id="grid-calendar" class="form-control">
                    {% for gridCalendar in data %}
                    <option value="{{ loop.index - 1 }}">{{ gridCalendar[0].name }}</option>
                    {% endfor %}
                </select>
                <button id="submit-exceptions" type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-plus"></span> {{'global.save'|trans}}
                </button>
            </div>
        </div>
        <div class="head-number">
            {{ render.line_number(lineVersion, 'lineVersion', 'big') }}
            <br>
            <div>{{ lineVersion.name }}</div>
        </div>
    </div>

    {% for gridCalendar in data %}
    <div id="{{ loop.index - 1 }}" class="exception-calendar">
        <h3>{{ gridCalendar[0].name }}</h3>

        <a style="float:right;margin-bottom:20px;" href="{{ path('tisseo_paon_exception_comment') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-default edit-button" disabled="disabled">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'comment.edit'|trans({}, 'default') }}
        </a>

        <table class="table datatable">
            <thead>
                <th class="col-sm-1">{{ 'trip.list.columns.name'|trans({}, 'default') }}</th>
                <th class="col-sm-1">{{ 'trip.list.columns.days'|trans({}, 'default') }}</th>
                <th class="col-sm-2">{{ 'trip.list.columns.start_stop'|trans({}, 'default') }}</th>
                <th class="col-sm-1">{{ 'trip.list.columns.start_time'|trans({}, 'default') }}</th>
                <th class="col-sm-2">{{ 'trip.list.columns.end_stop'|trans({}, 'default') }}</th>
                <th class="col-sm-1">{{ 'trip.list.columns.end_time'|trans({}, 'default') }}</th>
                <th class="col-sm-1">{{ 'comment.list.columns.label'|trans({}, 'default') }}</th>
                <th class="col-sm-3">{{ 'comment.list.columns.comment_text'|trans({}, 'default') }}</th>
            </thead>
            <tbody>
                {% for id, tripData in gridCalendar[1] %}
                <tr class="comment">
                    <input type="hidden" value="{{ id }}"></input>
                    <td>{{ tripData['trip'].name }}</td>
                    <td>{{ render.pattern(tripData['trip'].tripCalendar.pattern) }}</td>
                    <td>{{ tripData['start_name'] }}</td>
                    <td>{{ tripData['start_time'] }}</td>
                    <td>{{ tripData['end_name'] }}</td>
                    <td>{{ tripData['end_time'] }}</td>
                    {% if tripData['trip'].comment %}
                    <td class="exception-label">{{ tripData['trip'].comment.label }}</td>
                    <td class="exception-comment">{{ tripData['trip'].comment.commentText }}</td>
                    {% else %}
                    <td class="exception-label">&nbsp;</td>
                    <td class="exception-comment">&nbsp;</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <a style="float:right;margin-bottom:20px;" href="{{ path('tisseo_paon_exception_comment') }}" data-toggle="modal" data-target="#base-modal" class="btn btn-default edit-button" disabled="disabled">
            <span class="glyphicon glyphicon-pencil"></span> {{ 'comment.edit'|trans({}, 'default') }}
        </a>
    </div>
    {% endfor %}
    {% endif %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% if data is not empty %}
    <script>
        require(['paon/exceptions']);
    </script>
    {% endif %}
{% endblock %}
