{% extends "TisseoTidBundle::datatable_list.html.twig" %}

{% import "TisseoTidBundle::macros.html.twig" as render %}

{% block list_title -%}
    {{'exception.list.title'|trans({}, 'default')}}
{% endblock %}

{% block table_head -%}
    <th>{{ 'line_version.list.columns.label'|trans({}, 'default') }}</th>
    <th>{{ 'line_version.list.columns.physical_mode'|trans({}, 'default') }}</th>
    <th>{{ 'line_version.list.columns.version'|trans({}, 'default') }}</th>
    {% if is_granted('BUSINESS_MANAGE_EXCEPTION') %}
        <th class="no-sort">{{'global.actions'|trans({}, 'messages')}}</th>
    {% endif %}
{% endblock %}

{% block table_body -%}
    {% if lineVersions|length == 0 %}
        <tr>
            <td colspan="4">
                {{'global.no_items'|trans}}
            </td>
        </tr>
    {% else %}
        {% for lineVersion in lineVersions %}
            <tr>
                <td>
                    {{ render.line_number(lineVersion, 'lineVersion', 'small') }} <span>{{ lineVersion.name }}</span>
                </td>
                <td>
                    {{ lineVersion.line.physicalMode.name }}
                </td>
                <td>
                    {{ lineVersion.version }}
                </td>
                <td>
                    {% if is_granted('BUSINESS_MANAGE_EXCEPTION') %}
                        <a class="btn btn-default exception-edit" href="{{ path('tisseo_tid_exception_edit', {'lineVersionId': lineVersion.id}) }}">
                            <span class="glyphicon glyphicon-edit"></span> {{'global.edit_exception'|trans({}, 'messages')}}
                        </a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% endif %}
{% endblock %}
