{% extends "TisseoCoreBundle::container.html.twig" %}
{% set bundle = "TisseoPaonBundle" %}
{% set datatable = true %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block main_content -%}
    <h1>{{ 'line_schema.title'|trans({}, 'default') }}</h1>
    {% for physicalMode, lines in data %}
        {% if lines is not empty %}
            <a id="{{loop.index}}" class="header-ribbon physical-mode"><span class="mode-icon mode-{{physicalMode|lower}}"></span>{{ physicalMode }}</a>
            <table id="{{loop.index}}" class="table datatable table-hover">
                <thead>
                    <th class="col-md-1">{{ 'line_schema.list.columns.number'|trans({}, 'default') }}</th>
                    <th class="col-md-3">{{ 'line_schema.list.columns.name'|trans({}, 'default') }}</th>
                    <th class="col-md-2 no-sort">{{ 'line_schema.list.columns.date'|trans({}, 'default') }}</th>
                    <th class="col-md-2 no-sort">{{ 'line_schema.list.columns.comment'|trans({}, 'default') }}</th>
                    <th class="col-md-2 no-sort">{{ 'line_schema.list.columns.group'|trans({}, 'default') }}</th>
                    <th class="col-md-2 no-sort no-search">{{ 'global.actions'|trans }}</th>
                </thead>
                <tbody>
                {% for line in lines %}
                    {% set lastSchematic = line.schematics.last %}
                    <tr{% if lastSchematic and lastSchematic.filePath is empty %} class="schematic-updating"{% endif %}>
                        <td>{{ render.line_number(line, 'line', 'free') }}</td>
                        <td>
                            {% if line.LastLineVersion is defined %}
                                <span>{{ line.LastLineVersion.name }}</span>
                            {% endif %}
                        </td>
                        {% set schematicDate = line.LastSchematicDate %}
                        <td>{% if schematicDate != none %}{{ schematicDate|date('d/m/Y') }}{% endif %}</td>
                        <td>{{ lastSchematic.comment }}</td>
                        <td>
                            {% if line.lineGroupGisContents is defined and line.lineGroupGisContents|length > 0 %}
                                <ul>
                                {% for lineGroupGisContent in line.lineGroupGisContents %}
                                    <li>{{ lineGroupGisContent.lineGroupGis.name }}</li>
                                {% endfor %}
                                </ul>
                            {% endif %}
                        </td>
                        <td>
                            <a class="btn btn-default" href="{{ path('tisseo_paon_schema_list', {'lineId': line.id}) }}" data-toggle="modal" data-target="#base-modal">
                                <span class="glyphicon glyphicon-list"></span> {{ 'line_schema.list.schemas'|trans({}, 'default') }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% endif %}
    {% endfor %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        require(['core/datatables'], function() {
            datatable(false, '50');
        });
    </script>
    <script>
        require(['jquery'], function() {
            $(document).on("click", ".physical-mode", function() {
                var id = $(this).attr('id');
                var datatable =  $('#'+id+".datatable");
                datatable.toggle();
                datatable.parent().toggle();
            });
        });
    </script>
{% endblock %}
