{% extends "::modal.html.twig" %}
{% import "TisseoTidBundle::macros.html.twig" as render %}
{# {% form_theme form 'TisseoTidBundle:Form:fields.html.twig' %} #}

{% block modal_title %}
    {{ title|trans({}, 'default') }}
{% endblock %}

{% block modal_body %}
<div class="row">
    <div class="col-md-12">
        <h1>{{ 'line_schema.list.title'|trans({}, 'default') }}</h1>{{ render.line_number(schematics[0].line, 'line', 'small') }}

        <table class="table table-striped">
            <thead>
                <th>{{ 'line_schema.list.columns.file'|trans({}, 'default') }}</th>
                <th>{{ 'line_schema.list.columns.modification'|trans({}, 'default') }}</th>
            </thead>
            <tbody>
            {% for schematic in schematics %}
                {% set class = '' %}
                {% if schematic.filePath is empty %}
                    {%  set class = 'warning' %}
                {% endif %}
                <tr class="{{ class }}">
                    <td>{{ schematic.filePath }}</td>
                    <td>{{ schematic.comment }}</td>
                </tr>
            {%  else  %}
                <tr class="info">
                   <td colspan="2">
                       {{ 'line_schema.list.empty'|trans({}, 'default') }}
                   </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <a style="float:right;" class="btn btn-default" href="{{ path('tisseo_tid_schema_create', {'lineId': 1}) }}" data-toggle="modal" data-target="#base-modal">
            {{ 'line_schema.label.upload_file'|trans({}, 'default') }}
        </a>
    </div>
</div>
{% endblock %}
