{% extends "::modal.html.twig" %}

{% import "TisseoCoreBundle::macros.html.twig" as render %}

{% block modal_title %}
    {{ 'line_schema.list.title'|trans({}, 'default') }} {{ render.line_number(schematics[0].line, 'line', 'small') }}
{% endblock %}

{% block modal_body %}
    <div id="thumb"></div>
    <div class="schema-content-list">
        <div class="row">
            <div class="col-md-12">
                {{
                    include ("TisseoPaonBundle:LineSchema:partial_table_list_schema.html.twig",
                        {'schematics': schematics}
                    )
                }}
            </div>
        </div>
        <div class="col-md-12">
            <div class="row" style='margin-bottom:5px;'>
                {% if is_granted('BUSINESS_MANAGE_ASK_SCHEMA') %}
                    <a class="btn btn-default btn-sm action-button" href="#" data-action="ask-schema" data-line_id="{{ lineId }}">
                        {{ 'line_schema.label.ask_schematic'|trans({}, 'default') }}
                    </a>
                {% endif %}
                {% if is_granted('BUSINESS_MANAGE_NEW_SCHEMA') %}
                    <a class="btn btn-default btn-sm action-button" href="#" data-action="deprecated-schema" data-line_id="{{ lineId }}">
                        {{ 'line_schema.label.deprecated'|trans({}, 'default') }}
                    </a>
                {% endif %}
            </div>
            <div class="row">
                {% if is_granted('BUSINESS_MANAGE_NEW_SCHEMA') %}
                    <a class="btn btn-default btn-sm action-button" href="#" data-action="edit-schema" data-line_id="{{ lineId }}">
                        {{ 'line_schema.label.upload_file'|trans({}, 'default') }}
                    </a>
                    <a class="btn btn-default btn-sm action-button" href="#" data-action="add-info" data-line_id="{{ lineId }}">
                        {{ 'line_schema.label.add_info'|trans({}, 'default') }}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="target"></div>
{% endblock %}

{% block javascripts %}
    <script>
        require(['paon/edit/schema']);
    </script>
    <script>
        require(['core/textfill'], function() {
            textfill(2, 15, '.line-small');
        });
    </script>
{% endblock %}
