<table class="table table-striped">
    <thead>
        <th>{{ 'tisseo.paon.line_schema.label.name'|trans }}</th>
        <th>{{ 'tisseo.paon.line_schema.label.file'|trans }}</th>
        <th>{{ 'tisseo.paon.line_schema.label.date'|trans }}</th>
        <th>{{ 'tisseo.paon.line_schema.label.comment'|trans }}</th>
        <th></th>
    </thead>
    <tbody>
    {% for schematic in schematics %}
        <tr {% if schematicId is not empty and schematicId == schematic.id %}class="success"{% endif %} data-schematic-id="{{ schematic.id }}">
            <td>{{ schematic.name }}</td>
            <td><input type="checkbox" disabled {% if schematic.filePath %}checked="checked"{% endif %}</td>
            <td>{{ schematic.date|date('d/m/Y') }}</td>
            <td>{{ schematic.comment }}</td>
            <td>
                {% if schematic.filePath %}
                <a href="{{ app.request.getbaseUrl() }}/{{ schematic.WebPath }}" target="_blank" data-toggle="popover" data-placement="bottom" data-container="#thumb" data-html="true" data-trigger="hover" data-content="<img src='/{{ schematic.WebPath }}' height='250px' width='600px' style='padding:10px;'>"><span class="glyphicon glyphicon-eye-open"></span></a>
                {% endif %}
            </td>
        </tr>
    {%  else  %}
        <tr class="info">
            <td colspan="5">
                {{ 'tisseo.global.no_items'|trans }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<script>
    $('[data-toggle="popover"]').popover();
</script>
